/* Select all spans that are immediate children of buttons */
button > span {
    font-size: 2.5rem;
}

.card {
    background-color: white;
    color: black;
}

.button {
    background-color: blue;
    color: white;
}

.formPast {
    background-color: lightgrey;
}

.formCurrent {
    background-color: lightcoral;
}

.formFuture {
    background-color: lime;
}

.inputPast {
    background-color: lightgrey;
    width: 100%;
}

.inputCurrent {
    background-color: lightcoral;
    width: 100%;
}

.inputFuture {
    background-color: lime;
    width: 100%;
}